#profileTitle{
    width: 85vw;
    margin: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.detailaddress{
    margin-bottom: 10px;
}

#profileMainContainer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#addImg_button{
    padding-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--activeColor);
    padding: 10px 15px;
    border:none;

}

#rmvImg_button{
    border: none;
    cursor: pointer;
    background-color: white;
    text-decoration: underline;
}
#addImg_button,#rmvImg_button{

}
/*#rmvImg_button{*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    outline: none;*/
/*    background: none;*/
/*    font-weight: bold;*/

/*    top: 50%; */
/*    margin: 0 auto;*/
/*    margin-top: 20px;*/
/*    height: 40px;*/
/*    width: 30vw;*/
/*    border-radius: 10px;*/
/*    color: black;*/
/*    text-decoration: underline;*/
/*}*/

#profilePic{
    width: 50px;
    height: 50px;
    /*margin-top: 5px;*/
    /*margin-right: 25px;*/
    border-radius: 50%;
  
    cursor: pointer;

}

#profilecarrior{
    display: flex;
    justify-content: center;
}

#saveProfileData{
    background-color: var(--actionBackgroundColor);
    color: var(--actionTextColor);
    font-size: 90%;
    margin-top: 20px;
    margin-bottom: 13px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#logOutProfile{
    color: black;
    background-color: var(--alternativeBackgroundColor);
    text-decoration: underline;
    font-size: 90%;
    margin-top: 20px;
    margin-bottom: 13px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    float: right;
}

.profieSidebar{
    width: 100px;
    /* border: 10px soild red; */
}


.profileTextArea{
    height: 30px;
    border: none;
    border: 1px solid darkgray;
    width: 100%;
    padding: 5px;

}

.profiletype{
    background-color: var(--standardBackgroundColor);
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

.profileContentTitle{
    margin-bottom: 10px;
    /*cursor: default;*/
    font-weight: bold;
    font-size: 20px;
}
#file-upload{
    display: none;
}
.custom-file-upload{

}

#file-upload-container{
    margin: 0;
    padding: 0;
}
